<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mass6loob.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E1C40521DDC785E00A8DFA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E1C406B1DDC785F00A8DFA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E1C40761DDC785F00A8DFA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
